# Datasets
Offroad_Segmentation_Training_Dataset/
Offroad_Segmentation_testImages/

# Obsolete Scripts
Offroad_Segmentation_Scripts/

# Model Checkpoints (Large files)
# checkpoints/ <-- Commented out to allow upload
# *.pth

# Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# System
Thumbs.db
Desktop.ini

# Virtual Environments
venv/
env/
.env
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Incomplete downloads
*.part
